.inicio--descripciónbreve {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  gap: 56px;
  background-color: #ffffff;
}
.inicio-text-1 {
  text-align: left;
  vertical-align: top;
  font-size: 24px;
  font-family: Corporate Rounded;
  line-height: auto;
  color: #4d4d4d;
}
.inicio-text-2 {
  text-align: left;
  vertical-align: top;
  font-size: 16px;
  font-family: Corporate Rounded;
  line-height: auto;
  color: #4d4d4d;
}
.inicio-text-3 {
  text-align: left;
  vertical-align: top;
  font-size: 16px;
  font-family: Corporate Rounded;
  line-height: auto;
  text-decoration: underline;
  color: #154791;
}
.inicio-text-4 {
  text-align: left;
  vertical-align: top;
  font-size: 16px;
  font-family: Corporate Rounded;
  line-height: auto;
  color: #4d4d4d;
}